{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "typescript"
    }
  ],
  "[prisma]": {
    "editor.defaultFormatter": "Prisma.prisma"
  }
}
