{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow"
    }
  ],
  "[prisma]": {
    "editor.defaultFormatter": "Prisma.prisma"
  }
}
